Repository Gold872/elastic-dashboard, changes with the labels that .github/labeler.yml gives for each.
All labels: GUI, ElasticLib, dependencies, workflows

.github/labeler.yml:

GUI:
- changed-files:
  - any-glob-to-any-file: ['lib/**', 'test/**', 'pubspec.yaml']

ElasticLib:
- changed-files:
  - any-glob-to-any-file: ['elasticlib/**']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pubspec.yaml']

workflows:
- changed-files:
  - any-glob-to-any-file: ['.github/workflows/**']

Don't use pixel ratio for DS resize
  lib/pages/dashboard_page.dart
Labels: GUI

Only resize when docked
  lib/pages/dashboard_page.dart
Labels: GUI

Minor formatting fixes
  test/widgets/nt_widgets/single-topic/text_display_test.dart
Labels: GUI

Moved auto submit button test upward
  test/widgets/settings_dialog_test.dart
Labels: GUI

Add setting to automatically show submit button (#200)
  lib/pages/dashboard_page.dart
  lib/services/settings.dart
  lib/widgets/nt_widgets/single_topic/text_display.dart
  lib/widgets/settings_dialog.dart
  test/widgets/nt_widgets/single-topic/text_display_test.dart
  test/widgets/settings_dialog_test.dart
Labels: GUI

Add large text widget
  lib/services/nt_widget_builder.dart
  lib/widgets/nt_widgets/nt_widget.dart
  lib/widgets/nt_widgets/single_topic/large_text_display.dart
  test/widgets/nt_widgets/single-topic/boolean_box_test.dart
  test/widgets/nt_widgets/single-topic/graph_test.dart
  test/widgets/nt_widgets/single-topic/large_text_display_test.dart
  test/widgets/nt_widgets/single-topic/match_time_test.dart
  test/widgets/nt_widgets/single-topic/multi_color_view_test.dart
  test/widgets/nt_widgets/single-topic/number_bar_test.dart
  test/widgets/nt_widgets/single-topic/number_slider_test.dart
  test/widgets/nt_widgets/single-topic/radial_gauge_test.dart
  test/widgets/nt_widgets/single-topic/single_color_view_test.dart
  test/widgets/nt_widgets/single-topic/toggle_button_test.dart
  test/widgets/nt_widgets/single-topic/toggle_switch_test.dart
  test/widgets/nt_widgets/single-topic/voltage_view_test.dart
Labels: GUI

Add large text widget (#216)
  lib/services/nt_widget_builder.dart
  lib/widgets/nt_widgets/nt_widget.dart
  lib/widgets/nt_widgets/single_topic/large_text_display.dart
  test/widgets/nt_widgets/single-topic/boolean_box_test.dart
  test/widgets/nt_widgets/single-topic/graph_test.dart
  test/widgets/nt_widgets/single-topic/large_text_display_test.dart
  test/widgets/nt_widgets/single-topic/match_time_test.dart
  test/widgets/nt_widgets/single-topic/multi_color_view_test.dart
  test/widgets/nt_widgets/single-topic/number_bar_test.dart
  test/widgets/nt_widgets/single-topic/number_slider_test.dart
  test/widgets/nt_widgets/single-topic/radial_gauge_test.dart
  test/widgets/nt_widgets/single-topic/single_color_view_test.dart
  test/widgets/nt_widgets/single-topic/toggle_button_test.dart
  test/widgets/nt_widgets/single-topic/toggle_switch_test.dart
  test/widgets/nt_widgets/single-topic/voltage_view_test.dart
Labels: GUI

Only rebuild tree when mounted
  lib/widgets/network_tree/networktables_tree.dart
Labels: GUI

Adds border size, font size, and horizontal toggle to split-button
  lib/services/settings.dart
  lib/widgets/nt_widgets/multi-topic/split_button_chooser.dart
Labels: GUI

Improve DS Height Resizing Logic (#213)
  lib/pages/dashboard_page.dart
Labels: GUI

Improve status displayed on camera stream (#201)
  lib/widgets/mjpeg.dart
  lib/widgets/nt_widgets/multi-topic/camera_stream.dart
  test/widgets/mjpeg_test.dart
  test/widgets/nt_widgets/multi-topic/camera_stream_test.dart
  test_resources/test-layout.json
Labels: GUI

Add Widget Dialog Fixes (#193)
  lib/pages/dashboard_page.dart
  lib/widgets/dialog_widgets/layout_drag_tile.dart
  lib/widgets/editable_tab_bar.dart
  lib/widgets/network_tree/networktables_tree.dart
  lib/widgets/tab_grid.dart
Labels: GUI

Update version to 2025.1.0
  pubspec.yaml
Labels: GUI, dependencies

Update version to 2025.1.0 (#219)
  pubspec.yaml
Labels: GUI, dependencies

[docs] No subject (28)
  docs/.gitbook/assets/large_text_display.png
  docs/additional-features-and-references/widgets-list-and-properties-reference.md
Labels: none

[docs] No subject (28)
  docs/.gitbook/assets/large_text_display.png
  docs/additional-features-and-references/widgets-list-and-properties-reference.md
Labels: none

[docs] No subject (28)
  docs/.gitbook/assets/large_text_display.png
  docs/additional-features-and-references/widgets-list-and-properties-reference.md
Labels: none

[docs] No subject (28)
  docs/.gitbook/assets/large_text_display.png
  docs/additional-features-and-references/widgets-list-and-properties-reference.md
Labels: none

[docs] Fixes to C++ remote layout downloading code (29)
  docs/additional-features-and-references/remote-layout-downloading.md
Labels: none

[docs] Fixes to C++ remote layout downloading code (29)
  docs/additional-features-and-references/remote-layout-downloading.md
Labels: none

[docs] Fixes to C++ remote layout downloading code (29)
  docs/additional-features-and-references/remote-layout-downloading.md
Labels: none

[docs] Fixes to C++ remote layout downloading code (29)
  docs/additional-features-and-references/remote-layout-downloading.md
Labels: none

[docs] Change frc::WebServer to wpi::WebServer (30)
  docs/additional-features-and-references/remote-layout-downloading.md
Labels: none

[docs] Change frc::WebServer to wpi::WebServer (30)
  docs/additional-features-and-references/remote-layout-downloading.md
Labels: none

[docs] Change frc::WebServer to wpi::WebServer (30)
  docs/additional-features-and-references/remote-layout-downloading.md
Labels: none

[docs] Change frc::WebServer to wpi::WebServer (30)
  docs/additional-features-and-references/remote-layout-downloading.md
Labels: none

fetch struct schemas!!
  lib/services/nt4_client.dart
  lib/widgets/network_tree/networktables_tree.dart
Labels: GUI

fetch struct schemas!!
  lib/services/nt4_client.dart
  lib/widgets/network_tree/networktables_tree.dart
Labels: GUI

fetch struct schemas!!
  lib/services/nt4_client.dart
  lib/widgets/network_tree/networktables_tree.dart
Labels: GUI

fetch struct schemas!!
  lib/services/nt4_client.dart
Labels: GUI

store schemas somewhere useful
  lib/services/log.dart
  lib/services/nt4_client.dart
  lib/services/nt_connection.dart
  lib/widgets/network_tree/networktables_tree.dart
Labels: GUI

store schemas somewhere useful
  lib/services/log.dart
  lib/services/nt4_client.dart
  lib/services/nt_connection.dart
  lib/widgets/network_tree/networktables_tree.dart
Labels: GUI

store schemas somewhere useful
  lib/services/log.dart
  lib/services/nt4_client.dart
  lib/services/nt_connection.dart
  lib/widgets/network_tree/networktables_tree.dart
Labels: GUI

store schemas somewhere useful
  lib/services/nt4_client.dart
  lib/services/nt_connection.dart
Labels: GUI

dyn struct parsing
  lib/services/nt_connection.dart
  lib/services/struct_schemas/dyn_struct.dart
Labels: GUI

dyn struct parsing
  lib/services/nt_connection.dart
  lib/services/struct_schemas/dyn_struct.dart
Labels: GUI

dyn struct parsing
  lib/services/nt_connection.dart
  lib/services/struct_schemas/dyn_struct.dart
Labels: GUI

dyn struct parsing
  lib/services/nt_connection.dart
  lib/services/struct_schemas/dyn_struct.dart
Labels: GUI

put entries to add widgets widget
  lib/services/struct_schemas/dyn_struct.dart
  lib/widgets/network_tree/networktables_tree.dart
Labels: GUI

put entries to add widgets widget
  lib/services/struct_schemas/dyn_struct.dart
  lib/widgets/network_tree/networktables_tree.dart
  lib/widgets/network_tree/networktables_tree_row.dart
Labels: GUI
