Repository Gold872/elastic-dashboard, changes with the labels that .github/labeler.yml gives for each.
All labels: GUI, ElasticLib, dependencies, workflows

fix bug
  lib/services/nt_connection.dart
Labels: GUI

Cycle camera streams until one works
  lib/widgets/mjpeg.dart
  lib/widgets/nt_widgets/multi-topic/camera_stream.dart
  test/widgets/mjpeg_test.dart
Labels: GUI

don't panic on schema parse failure
  lib/services/struct_schemas/dyn_struct.dart
Labels: GUI

don't panic on schema parse failure
  lib/services/struct_schemas/dyn_struct.dart
Labels: GUI

don't panic on schema parse failure
  lib/services/struct_schemas/dyn_struct.dart
Labels: GUI

don't panic on schema parse failure
  lib/services/struct_schemas/dyn_struct.dart
Labels: GUI

Don't restart stream if not visible
  lib/widgets/mjpeg.dart
  test/widgets/mjpeg_test.dart
Labels: GUI

Fix timing and visibility error
  lib/widgets/mjpeg.dart
  test/widgets/mjpeg_test.dart
Labels: GUI

Add an extra 15 pixels for macos
  lib/main.dart
  lib/pages/dashboard_page.dart
  lib/widgets/custom_appbar.dart
  lib/widgets/settings_dialog.dart
Labels: GUI

Remove assets folder button on mac
  lib/widgets/settings_dialog.dart
Labels: GUI

why did removing the max lines break the tests...
  lib/widgets/settings_dialog.dart
Labels: GUI

Increased width adjustment
  lib/main.dart
  lib/pages/dashboard_page.dart
Labels: GUI

More robustness improvements - Don't start the stream from the widget build method
  lib/widgets/mjpeg.dart
  test/widgets/mjpeg_test.dart
Labels: GUI

Don't clear mounted keys on dispose
  lib/widgets/mjpeg.dart
Labels: GUI

Use periodic timer for auto reconnection
  lib/services/nt4_client.dart
  pubspec.lock
  pubspec.yaml
Labels: GUI, dependencies

Improve formatting and RTT reliability
  lib/services/nt4_client.dart
Labels: GUI

Update package info plugin to work with WASM
  lib/main.dart
  pubspec.lock
Labels: GUI

Update package info plugin to work with WASM
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Labels: GUI, dependencies

Update package info plugin to work with WASM
  lib/main.dart
  pubspec.lock
Labels: GUI

Update package info plugin to work with WASM
  lib/main.dart
  pubspec.lock
Labels: GUI

Update package info plugin to work with WASM
  lib/main.dart
  pubspec.lock
Labels: GUI

Fix duplicate clients being created before initial RTT messages
  lib/services/nt4_client.dart
Labels: GUI

Don't reset connection attempt until sockets are closed
  lib/services/nt4_client.dart
Labels: GUI

Only log disconnect errors if it's the correct ip address
  lib/services/nt4_client.dart
Labels: GUI

Fix resize preview snapping
  lib/widgets/tab_grid.dart
Labels: GUI

Fix resize preview snapping to opposite direction (#242)
  lib/widgets/tab_grid.dart
Labels: GUI

Add a trace log message when the connection wait is about to start
  lib/services/nt4_client.dart
Labels: GUI

Only reset rtt connection status if the address hasn't changed
  lib/services/nt4_client.dart
Labels: GUI

Temporarily add white background to app bar to make spacing easier to see
  lib/pages/dashboard_page.dart
Labels: GUI

Possibly fix minimum window size
  lib/pages/dashboard_page.dart
Labels: GUI

Remove white background
  lib/pages/dashboard_page.dart
Labels: GUI

Add platform width to min window width
  lib/pages/dashboard_page.dart
Labels: GUI

Fix App Bar Sizing on MacOS (#240)
  lib/main.dart
  lib/pages/dashboard_page.dart
  lib/widgets/custom_appbar.dart
  lib/widgets/settings_dialog.dart
Labels: GUI

Fix app display name on mac and linux
  linux/my_application.cc
  macos/Runner/Configs/AppInfo.xcconfig
Labels: none

Maybe fix macos
  macos/Runner/Configs/AppInfo.xcconfig
  macos/Runner/Info.plist
Labels: none

Add a width adjustment to linux
  lib/main.dart
  lib/pages/dashboard_page.dart
Labels: GUI

Lower to 10 pixels
  lib/main.dart
  lib/pages/dashboard_page.dart
Labels: GUI

Rewrote custom appbar to allow non-fixed width
  lib/pages/dashboard_page.dart
  lib/widgets/custom_appbar.dart
Labels: GUI

Temporarily build on ubuntu 20.04
  .github/workflows/elastic-ci.yml
Labels: workflows

Switch back to 22.04
  .github/workflows/elastic-ci.yml
Labels: workflows

.github/labeler.yml:

GUI:
- changed-files:
  - any-glob-to-any-file: ['lib/**', 'test/**', 'pubspec.yaml']

ElasticLib:
- changed-files:
  - any-glob-to-any-file: ['elasticlib/**']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pubspec.yaml']

workflows:
- changed-files:
  - any-glob-to-any-file: ['.github/workflows/**']
