Repository Gold872/elastic-dashboard, changes with the labels that .github/labeler.yml gives for each.
All labels: GUI, ElasticLib, dependencies, workflows

.github/labeler.yml:

GUI:
- changed-files:
  - any-glob-to-any-file: ['lib/**', 'test/**', 'pubspec.yaml']

ElasticLib:
- changed-files:
  - any-glob-to-any-file: ['elasticlib/**']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pubspec.yaml']

workflows:
- changed-files:
  - any-glob-to-any-file: ['.github/workflows/**']

put entries to add widgets widget
  lib/services/struct_schemas/dyn_struct.dart
  lib/widgets/network_tree/networktables_tree.dart
  lib/widgets/network_tree/networktables_tree_row.dart
Labels: GUI

put entries to add widgets widget
  lib/services/shuffleboard_nt_listener.dart
  lib/services/struct_schemas/dyn_struct.dart
  lib/widgets/network_tree/networktables_tree.dart
  lib/widgets/network_tree/networktables_tree_row.dart
Labels: GUI

don't list out arrays
  lib/widgets/network_tree/networktables_tree.dart
Labels: GUI

don't list out arrays
  lib/widgets/network_tree/networktables_tree.dart
Labels: GUI

don't list out arrays
  lib/widgets/network_tree/networktables_tree.dart
Labels: GUI

show correct types
  lib/services/struct_schemas/dyn_struct.dart
Labels: GUI

show correct types
  lib/services/struct_schemas/dyn_struct.dart
  lib/widgets/network_tree/networktables_tree.dart
  lib/widgets/network_tree/networktables_tree_row.dart
Labels: GUI

show correct types
  lib/services/struct_schemas/dyn_struct.dart
  lib/widgets/network_tree/networktables_tree.dart
  lib/widgets/network_tree/networktables_tree_row.dart
Labels: GUI

show correct types
  lib/services/struct_schemas/dyn_struct.dart
  lib/widgets/network_tree/networktables_tree.dart
  lib/widgets/network_tree/networktables_tree_row.dart
Labels: GUI

Fix preferences clearing search when updating
  lib/widgets/nt_widgets/multi-topic/robot_preferences.dart
  pubspec.lock
  pubspec.yaml
Labels: GUI, dependencies

Fix query not applying on rebuild
  lib/widgets/nt_widgets/multi-topic/robot_preferences.dart
Labels: GUI

good values on widget, broke json serde
  lib/services/elasticlib_listener.dart
  lib/services/nt4_client.dart
  lib/services/nt_widget_builder.dart
  lib/services/struct_schemas/dyn_struct.dart
  lib/widgets/network_tree/networktables_tree_row.dart
  lib/widgets/nt_widgets/multi_topic/accelerometer.dart
  lib/widgets/nt_widgets/multi_topic/basic_swerve_drive.dart
  lib/widgets/nt_widgets/multi_topic/camera_stream.dart
  lib/widgets/nt_widgets/multi_topic/combo_box_chooser.dart
  lib/widgets/nt_widgets/multi_topic/command_scheduler.dart
  lib/widgets/nt_widgets/multi_topic/command_widget.dart
  lib/widgets/nt_widgets/multi_topic/differential_drive.dart
  lib/widgets/nt_widgets/multi_topic/encoder_widget.dart
  lib/widgets/nt_widgets/multi_topic/field_widget.dart
  lib/widgets/nt_widgets/multi_topic/fms_info.dart
  lib/widgets/nt_widgets/multi_topic/gyro.dart
  lib/widgets/nt_widgets/multi_topic/motor_controller.dart
  lib/widgets/nt_widgets/multi_topic/pid_controller.dart
  lib/widgets/nt_widgets/multi_topic/power_distribution.dart
  lib/widgets/nt_widgets/multi_topic/profiled_pid_controller.dart
  lib/widgets/nt_widgets/multi_topic/relay_widget.dart
  lib/widgets/nt_widgets/multi_topic/robot_preferences.dart
  lib/widgets/nt_widgets/multi_topic/subsystem_widget.dart
  lib/widgets/nt_widgets/multi_topic/three_axis_accelerometer.dart
  lib/widgets/nt_widgets/multi_topic/ultrasonic.dart
  lib/widgets/nt_widgets/multi_topic/yagsl_swerve_drive.dart
  lib/widgets/nt_widgets/nt_widget.dart
Labels: GUI

good values on widget, broke json serde
  lib/services/elasticlib_listener.dart
  lib/services/nt4_client.dart
  lib/services/nt_connection.dart
  lib/services/nt_widget_builder.dart
  lib/services/struct_schemas/dyn_struct.dart
  lib/widgets/draggable_containers/models/nt_widget_container_model.dart
  lib/widgets/network_tree/networktables_tree.dart
  lib/widgets/network_tree/networktables_tree_row.dart
  lib/widgets/nt_widgets/multi_topic/accelerometer.dart
  lib/widgets/nt_widgets/multi_topic/basic_swerve_drive.dart
  lib/widgets/nt_widgets/multi_topic/camera_stream.dart
  lib/widgets/nt_widgets/multi_topic/combo_box_chooser.dart
  lib/widgets/nt_widgets/multi_topic/command_scheduler.dart
  lib/widgets/nt_widgets/multi_topic/command_widget.dart
  lib/widgets/nt_widgets/multi_topic/differential_drive.dart
  lib/widgets/nt_widgets/multi_topic/encoder_widget.dart
  lib/widgets/nt_widgets/multi_topic/field_widget.dart
  lib/widgets/nt_widgets/multi_topic/fms_info.dart
  lib/widgets/nt_widgets/multi_topic/gyro.dart
  lib/widgets/nt_widgets/multi_topic/motor_controller.dart
  lib/widgets/nt_widgets/multi_topic/pid_controller.dart
  lib/widgets/nt_widgets/multi_topic/power_distribution.dart
  lib/widgets/nt_widgets/multi_topic/profiled_pid_controller.dart
  lib/widgets/nt_widgets/multi_topic/relay_widget.dart
  lib/widgets/nt_widgets/multi_topic/robot_preferences.dart
  lib/widgets/nt_widgets/multi_topic/subsystem_widget.dart
  lib/widgets/nt_widgets/multi_topic/three_axis_accelerometer.dart
  lib/widgets/nt_widgets/multi_topic/ultrasonic.dart
  lib/widgets/nt_widgets/multi_topic/yagsl_swerve_drive.dart
  lib/widgets/nt_widgets/nt_widget.dart
  lib/widgets/nt_widgets/single_topic/boolean_box.dart
  lib/widgets/nt_widgets/single_topic/graph.dart
  lib/widgets/nt_widgets/single_topic/match_time.dart
  lib/widgets/nt_widgets/single_topic/number_bar.dart
  lib/widgets/nt_widgets/single_topic/number_slider.dart
  lib/widgets/nt_widgets/single_topic/radial_gauge.dart
  lib/widgets/nt_widgets/single_topic/text_display.dart
  lib/widgets/nt_widgets/single_topic/voltage_view.dart
Labels: GUI

good values on widget, broke json serde
  lib/services/elasticlib_listener.dart
  lib/services/nt4_client.dart
  lib/services/nt_connection.dart
  lib/services/nt_widget_builder.dart
  lib/services/struct_schemas/dyn_struct.dart
  lib/widgets/draggable_containers/models/nt_widget_container_model.dart
  lib/widgets/network_tree/networktables_tree.dart
  lib/widgets/network_tree/networktables_tree_row.dart
  lib/widgets/nt_widgets/multi_topic/accelerometer.dart
  lib/widgets/nt_widgets/multi_topic/basic_swerve_drive.dart
  lib/widgets/nt_widgets/multi_topic/camera_stream.dart
  lib/widgets/nt_widgets/multi_topic/combo_box_chooser.dart
  lib/widgets/nt_widgets/multi_topic/command_scheduler.dart
  lib/widgets/nt_widgets/multi_topic/command_widget.dart
  lib/widgets/nt_widgets/multi_topic/differential_drive.dart
  lib/widgets/nt_widgets/multi_topic/encoder_widget.dart
  lib/widgets/nt_widgets/multi_topic/field_widget.dart
  lib/widgets/nt_widgets/multi_topic/fms_info.dart
  lib/widgets/nt_widgets/multi_topic/gyro.dart
  lib/widgets/nt_widgets/multi_topic/motor_controller.dart
  lib/widgets/nt_widgets/multi_topic/pid_controller.dart
  lib/widgets/nt_widgets/multi_topic/power_distribution.dart
  lib/widgets/nt_widgets/multi_topic/profiled_pid_controller.dart
  lib/widgets/nt_widgets/multi_topic/relay_widget.dart
  lib/widgets/nt_widgets/multi_topic/robot_preferences.dart
  lib/widgets/nt_widgets/multi_topic/subsystem_widget.dart
  lib/widgets/nt_widgets/multi_topic/three_axis_accelerometer.dart
  lib/widgets/nt_widgets/multi_topic/ultrasonic.dart
  lib/widgets/nt_widgets/multi_topic/yagsl_swerve_drive.dart
  lib/widgets/nt_widgets/nt_widget.dart
  lib/widgets/nt_widgets/single_topic/boolean_box.dart
  lib/widgets/nt_widgets/single_topic/graph.dart
  lib/widgets/nt_widgets/single_topic/match_time.dart
  lib/widgets/nt_widgets/single_topic/number_bar.dart
  lib/widgets/nt_widgets/single_topic/number_slider.dart
  lib/widgets/nt_widgets/single_topic/radial_gauge.dart
  lib/widgets/nt_widgets/single_topic/text_display.dart
  lib/widgets/nt_widgets/single_topic/voltage_view.dart
Labels: GUI

Fix Preferences Search Clearing (#223)
  lib/widgets/nt_widgets/multi-topic/robot_preferences.dart
  pubspec.lock
  pubspec.yaml
Labels: GUI, dependencies

fix serde on non-struct values
  lib/services/struct_schemas/dyn_struct.dart
  lib/widgets/draggable_containers/models/nt_widget_container_model.dart
Labels: GUI

fix serde on non-struct values
  lib/services/nt4_client.dart
  lib/services/struct_schemas/dyn_struct.dart
  lib/widgets/draggable_containers/models/nt_widget_container_model.dart
Labels: GUI

fix serde on non-struct values
  lib/services/nt4_client.dart
  lib/services/struct_schemas/dyn_struct.dart
  lib/widgets/draggable_containers/models/nt_widget_container_model.dart
Labels: GUI

fix serde on non-struct values
  lib/pages/dashboard_page.dart
  lib/services/nt4_client.dart
  lib/services/struct_schemas/dyn_struct.dart
  lib/widgets/draggable_containers/models/nt_widget_container_model.dart
Labels: GUI

Fix robot notifications appearing off-screen
  lib/pages/dashboard_page.dart
  pubspec.lock
  pubspec.yaml
Labels: GUI, dependencies

serde for struct values
  lib/services/nt4_client.dart
  lib/widgets/draggable_containers/models/nt_widget_container_model.dart
  lib/widgets/network_tree/networktables_tree.dart
Labels: GUI

serde for struct values
  lib/services/nt4_client.dart
Labels: GUI

serde for struct values
  lib/services/nt4_client.dart
  lib/widgets/draggable_containers/models/nt_widget_container_model.dart
  lib/widgets/network_tree/networktables_tree.dart
Labels: GUI

serde for struct values
  lib/services/nt4_client.dart
  lib/widgets/draggable_containers/models/nt_widget_container_model.dart
  lib/widgets/network_tree/networktables_tree.dart
Labels: GUI

use actual type when choosing display
  lib/services/nt4_client.dart
  lib/widgets/draggable_containers/models/nt_widget_container_model.dart
  lib/widgets/network_tree/networktables_tree.dart
  lib/widgets/nt_widgets/multi_topic/robot_preferences.dart
  lib/widgets/nt_widgets/nt_widget.dart
  lib/widgets/nt_widgets/single_topic/text_display.dart
Labels: GUI

use actual type when choosing display
  lib/widgets/draggable_containers/models/nt_widget_container_model.dart
Labels: GUI

use actual type when choosing display
  lib/services/nt4_client.dart
  lib/widgets/draggable_containers/models/nt_widget_container_model.dart
  lib/widgets/network_tree/networktables_tree.dart
  lib/widgets/nt_widgets/multi-topic/robot_preferences.dart
  lib/widgets/nt_widgets/nt_widget.dart
  lib/widgets/nt_widgets/single_topic/text_display.dart
Labels: GUI

use actual type when choosing display
  lib/services/nt4_client.dart
  lib/widgets/draggable_containers/models/nt_widget_container_model.dart
  lib/widgets/network_tree/networktables_tree.dart
  lib/widgets/nt_widgets/nt_widget.dart
  lib/widgets/nt_widgets/single_topic/text_display.dart
Labels: GUI

Updated package version
  pubspec.lock
  pubspec.yaml
Labels: GUI, dependencies

Fix robot notifications appearing off-screen (#224)
  lib/pages/dashboard_page.dart
  pubspec.lock
  pubspec.yaml
Labels: GUI, dependencies

Always show scrollbar for alerts widget
  lib/widgets/nt_widgets/multi-topic/network_alerts.dart
Labels: GUI

Always show scrollbar for alerts widget (#228)
  lib/widgets/nt_widgets/multi-topic/network_alerts.dart
Labels: GUI

Update version to 2025.1.1
  pubspec.yaml
Labels: GUI, dependencies

Update version to 2025.1.1 (#229)
  pubspec.yaml
Labels: GUI, dependencies

[docs] Remove broken links (31)
  docs/additional-features-and-references/widgets-list-and-properties-reference.md
Labels: none

[docs] Remove broken links (31)
  docs/additional-features-and-references/widgets-list-and-properties-reference.md
Labels: none

[docs] Remove broken links (31)
  docs/additional-features-and-references/widgets-list-and-properties-reference.md
Labels: none

[docs] Remove broken links (31)
  docs/additional-features-and-references/widgets-list-and-properties-reference.md
Labels: none

[docs] Fix java elasticlib example (32)
  docs/additional-features-and-references/robot-notifications-with-elasticlib.md
Labels: none

[docs] Fix java elasticlib example (32)
  docs/additional-features-and-references/robot-notifications-with-elasticlib.md
Labels: none
