Repository Gold872/elastic-dashboard, pull requests merged in 2025-06, with the labels that each got.

#270 Bug fix with sending notifications in elasticlib python
  elasticlib/elasticlib.py
Labels: ElasticLib

#272 Fix graph visual bugs and errors
  lib/widgets/nt_widgets/single_topic/graph.dart
Labels: GUI

#275 CI Rework
  .github/workflows/elastic-build/action.yml
  .github/workflows/elastic-ci.yml
  wpilib_icon_config.yaml
Labels: workflows

#278 Add update checking for 2027 alpha
  lib/services/update_checker.dart
Labels: GUI, 2027

#279 Add robot connection methods for systemcore
  lib/pages/dashboard/dashboard_page_settings.dart
  lib/pages/dashboard_page.dart
  lib/services/ip_address_util.dart
  lib/widgets/settings_dialog.dart
  test/pages/dashboard/dashboard_page_settings_test.dart
  test/pages/dashboard_page_test.dart
  test/services/ip_address_util_test.dart
  test/widgets/settings_dialog_test.dart
Labels: GUI, 2027

#280 Ability to connect to SystemCore NT server
  lib/main.dart
  lib/pages/dashboard/dashboard_page_settings.dart
  lib/pages/dashboard_page.dart
  lib/services/nt4_client.dart
  lib/services/nt_connection.dart
  lib/services/settings.dart
  lib/widgets/settings_dialog.dart
  test/pages/dashboard/dashboard_page_settings_test.dart
  test/widgets/settings_dialog_test.dart
Labels: GUI, 2027

#284 [ElasticLib] Move NotificationLevel into Elastic class scope
  elasticlib/Elastic.java
  elasticlib/elasticlib.py
Labels: ElasticLib

#287 Fix zip creation in windows CI
  .github/workflows/elastic-ci.yml
Labels: workflows

#290 Add license for AdvantageScope assets
  assets/third_party_licenses/AdvantageScopeAssets.txt
  lib/main.dart
Labels: GUI

#291 Update version to 2027.0.0-alpha2
  pubspec.yaml
Labels: GUI, dependencies, 2027
